.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Title-color{
  color: #4621A8;
    font-family: "Roboto", Sans-serif;
    font-size: 33px;
    font-weight: 600;

}
.logo-color{
  color: #4621A8;
    font-family: "Roboto", Sans-serif;
    font-size: 33px;
    font-weight: 600;
}
.topnav-menu-link {
  color:#000000;
  font-size: 23px;
  /* font-weight: 200; */
}

.login-container {
  width: 50%;
  height: 50%;
  /* background-color: red; */
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}
.left-align-text{
  float: left;
}